{% extends "dies/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="container mt-5">
    <div class="row mt-5 mb-5">
      <div class="col-1"></div>
      <div class="col-10">
        <button onclick="goTo('{% url 'super_data_input' %}')" class="btn btn-outline-primary btn-block font-weight-bold" style="font-size:1.25em;">SUPER MARKET</button>
      </div>
    </div>
    <hr>
    <div class="row mt-5 mb-5">
      <div class="col-1"></div>
      <div class="col-10">
        <button onclick="goTo('{% url 'spare_data_input' %}')" class="btn btn-outline-danger btn-block font-weight-bold" style="font-size:1.25em;">SPARE MARKET</button>
      </div>
    </div>
    <hr>
    <div class="row mt-5 mb-5">
      <div class="col-1"></div>
      <div class="col-10">
        <button onclick="goTo('{% url 'inventory_status' %}')" class="btn btn-outline-success btn-block font-weight-bold" style="font-size:1.25em;">STATUS</button>
      </div>
    </div>
  </div>
{% endblock content %}
