{% extends "dies/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  {% if item == None %}
    <div class="container mt-5 pt-5">
      <h3 class="mt-5 text-center font-weight-bold border border-danger rounded pt-2 pb-2">{{p_id}}</h3>
      <h4 class="text-center text-danger font-weight-bold">DON'T EXIST</h4>
    </div>
  {% else %}
    <div class="container mt-3">
      <div class="row">
        <div class="col-4 pr-0">
          Part ID
        </div>
        <div class="col-8 pl-0 pr-0">
          <div class="border border-secondary rounded text-center font-weight-bold" style="font-size: 1.25em;">
            {{item.part_id}}
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1">
      <div class="row">
        <div class="col-4 pr-0">
          Part No
        </div>
        <div class="col-8 pl-0 pr-0">
          <div class="border border-secondary rounded text-center font-weight-bold" style="font-size: 1.25em;">
            {{item.part_number}}
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1">
      <div class="row">
        <div class="col-4 pr-0">
          Model App
        </div>
        <div class="col-8 pl-0 pr-0">
          <div class="border border-secondary rounded text-center font-weight-bold" style="font-size: 1.25em;">
            {{item.model_id}}
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1">
      <div class="row">
        <div class="col-4 pr-0">
          Car Model
        </div>
        <div class="col-8 pl-0 pr-0">
          <div class="border border-secondary rounded text-center font-weight-bold" style="font-size: 1.25em;">
            {{item.car_model}}
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1">
      <div class="row">
        <div class="col-4 pr-0">
          Machine #
        </div>
        <div class="col-8 pl-0 pr-0">
          <div class="border border-secondary rounded text-center font-weight-bold" style="font-size: 1.25em;">
            {{item.machine_no}}
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1">
      <div class="row">
        <div class="col-4">
          Mfg. Div
        </div>
        <div class="col-8 pl-0 pr-0">
          <div class="border border-secondary rounded text-center font-weight-bold" style="font-size: 1.25em;">
            {{item.mfg_div}}
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1">
      <div class="row">
        <div class="col-4">
          Status
        </div>
        <div class="col-8 pl-0 pr-0">
          {% if item.status_id == True %}
            <div class="border border-secondary bg-success rounded text-center font-weight-bold" style="font-size: 1.25em;">
              <span class="text-light">In-Stock</span>
          {% else %}
            <div class="border border-secondary bg-danger rounded text-center font-weight-bold" style="font-size: 1.25em;">
              <span class="text-light">No-Stock</span>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
    <h6 class="text-danger m-0 p-0 text-center">{% if not_in_spare_market == True %}Part Number Not in Spare {% else %} <br>{% endif %}</h6>
    <div class="container mt-4">
      <div class="row mt-3">
        {% comment %} <div class="col-6 pl-0">
          <button class="btn btn-info btn-block font-weight-bold" data-toggle="modal" data-target="#commonModal" data-backdrop="false">
            COMMON
          </button>
        </div>
        <div class="col-6 pr-0"> {% endcomment %}
          <button id="back_button" class="btn btn-danger btn-block font-weight-bold">
            BACK
          </button>
        {% comment %} </div> {% endcomment %}
      </div>
      {% if item.status_id == True %}
        <div class="row  mt-3">
          <button id="claim_button" class="btn btn-primary btn-block font-weight-bold">
            CLAIM
          </button>
        </div>
      {% else %}
        <div class="row  mt-3">
          <button class="btn btn-warning btn-block font-weight-bold text-light" data-toggle="modal" data-target="#restockModal" data-backdrop="false">
            RE-STOCK
          </button>
        </div>
      {% endif %}
    </div>

  {% endif %}

    <!-- Modal For Re-stock -->
    <div class="modal" id="restockModal" tabindex="-1" role="dialog" aria-labelledby="restockModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="height: 450px;">
          <div class="modal-header">
            <h5 class="modal-title">RE-STOCK</h5>
          </div>
          <div class="modal-body pt-5">
            <h2 class="text-center">ARE YOU SURE?</h2>
            <hr>
            <div class="row mt-5 mb-4">
              <div class="col-12">
                <button id="restock_button" class="btn btn-success btn-block font-weight-bold" style="font-size:1.7em;" >
                  YES
                </button>
              </div>
            </div>
            <hr>
            <div class="row mt-4 mb-4">
              <div class="col-12">
                <button class="btn btn-danger btn-block font-weight-bold" style="font-size:1.7em;" data-dismiss="modal">
                  NO
                </button>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>

    {% comment %} <!-- Modal For common -->
    <div class="modal" id="commonModal" tabindex="-1" role="dialog" aria-labelledby="commonModalTitle" aria-hidden="true" onmousedown="return false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">COMMON PART ID</h5>
            <button class="close btn" data-dismiss="modal" aria-label="Close">
              &times;
            </button>
          </div>
          <div class="modal-body" style="font-size: 1.3em; height: 400px; overflow: auto;">
            {% for c in common %}
              <div class="row pt-0 pb-0" >
                <div class="col-12 text-center">
                  {{forloop.counter}}. <span class="font-weight-bold">{{c.part_id}}</span>
                <div>
              </div>
              <hr>
            {% endfor %}
            <button id="modal_up_button" class="btn btn-primary font-weight-bolder rounded-circle" style="position:fixed; bottom: 70px; right:10px;">
              &#8593;
            </button>
            <button id="modal_down_button"  class="btn btn-primary font-weight-bolder rounded-circle" style="position:fixed; bottom: 20px; right:10px;">
              &#8595;
            </button>
          </div>
        </div>
      </div>
    </div> {% endcomment %}


    
  <script>
    $(document).ready(function(){
      if ("{{item}}" == "None"){
        setTimeout(function(){window.location.href = "{% url 'super_data_input' %}";}, 3000);
      }

      $('#claim_button').click(function(){
        {% if item != None %}
            window.location.href="{% url 'part_id_claim' part_id=item.part_id %}";
        {% endif %}
      });

      $('#restock_button').click(function(){
        {% if item != None %}
            window.location.href="{% url 'part_id_details' part_id=item.part_id|add:'_r' %}";
        {% endif %}
      });

      $('#back_button').click(function(){
        window.location.href="{% url 'super_data_input' %}";
      });
    });

  </script>

{% endblock content %}
