{% extends "dies/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  {% if item == None %}
  <div class="container mt-5 pt-5">
    <h3 class="mt-5 text-center font-weight-bold border border-danger rounded pt-2 pb-2">{{p_id}}</h3>
    <h4 class="text-center text-danger font-weight-bold">DON'T EXIST</h4>
  </div>
  {% else %}
    <div class="container mt-3">
      <div class="row">
        <div class="col-4 pr-0">
          Part ID
        </div>
        <div class="col-8 pl-0 pr-0">
          <div class="border border-secondary rounded text-center font-weight-bold" style="font-size: 1.25em;">
            {{item.part_id}}
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1">
      <div class="row">
        <div class="col-4 pr-0">
          Part No
        </div>
        <div class="col-8 pl-0 pr-0">
          <div class="border border-secondary rounded text-center font-weight-bold" style="font-size: 1.25em;">
            {{item.part_number}}
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1">
      <div class="row">
        <div class="col-4 pr-0">
          Model App
        </div>
        <div class="col-8 pl-0 pr-0">
          <div class="border border-secondary rounded text-center font-weight-bold" style="font-size: 1.25em;">
            {{item.model_id}}
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1">
      <div class="row">
        <div class="col-4 pr-0">
          Car Model
        </div>
        <div class="col-8 pl-0 pr-0">
          <div class="border border-secondary rounded text-center font-weight-bold" style="font-size: 1.25em;">
            {{item.car_model}}
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1">
      <div class="row">
        <div class="col-4 pr-0">
          Machine #
        </div>
        <div class="col-8 pl-0 pr-0">
          <div class="border border-secondary rounded text-center font-weight-bold" style="font-size: 1.25em;">
            {{item.machine_no}}
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1">
      <div class="row">
        <div class="col-4">
          Mfg. Div
        </div>
        <div class="col-8 pl-0 pr-0">
          <div class="border border-secondary rounded text-center font-weight-bold" style="font-size: 1.25em;">
            {{item.mfg_div}}
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1">
      <div class="row">
        <div class="col-4">
          Status
        </div>
        <div class="col-8 pl-0 pr-0">
          {% if item.status_id == True %}
            <div class="border border-secondary bg-success rounded text-center font-weight-bold" style="font-size: 1.25em;">
              <span class="text-light">In-Stock</span>
          {% else %}
            <div class="border border-secondary bg-danger rounded text-center font-weight-bold" style="font-size: 1.25em;">
              <span class="text-light">No-Stock</span>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
    
    <div class="container mt-5">
      {% if item.status_id == True %}
        <div class="row">
          <button id="claim_button" class="btn btn-primary btn-block font-weight-bold">
            CLAIM
          </button>
        </div>
      {% else %}
        <div class="row">
          <button class="btn btn-outline-primary btn-block font-weight-bold disabled">
            CLAIM
          </button>
        </div>
      {% endif %}
      <div class="row mt-3">
        <button id="back_button" class="btn btn-danger btn-block font-weight-bold">
          BACK
        </button>
      </div>
    </div>

  {% endif %}

  <script>
    $(document).ready(function(){
      if ("{{item}}" == "None"){
        setTimeout(function(){window.location.href = "{% url 'super_data_input' %}";}, 3000);
      }

      $('#claim_button').click(function(){
        {% if item != None %}
          window.location.href="{% url 'part_id_claim' part_id=item.part_id %}";
        {% endif %}
      });

      $('#back_button').click(function(){
        window.location.href="{% url 'super_data_input' %}";
      });
    });

  </script>

{% endblock content %}
