{% extends "dies/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container mt-5 pt-5">
    <h3 class="mt-5 text-center font-weight-bold border border-success rounded pt-2 pb-2">{{super_item.part_id}}</h3>
    <h4 class="text-center text-success font-weight-bold">SUCCESFULLY CLAIMED</h4>
    
      <h4 class=" text-dark font-weight-bold">
        <hr class="p-0 m-0">
        Part #: {{super_item.part_number}}
        <hr class="p-0 m-0">
        Model:{{super_item.model_id}}
        <hr class="p-0 m-0">
        {% if in_spare == False %}
          <span class="text-danger" style="font-size:.85em;"> NOT in Spare Market.</span>
        {% else %}
          Spare Market : {{spare_item.stock}}
        {% endif %}
      </h4>
  </div>
  <script>
    $(document).ready(function(){
      {% comment %} setTimeout(function(){window.location.href = "{% url 'super_data_input' %}";}, 3000); {% endcomment %}
      setTimeout(function(){window.location.href="{% url 'part_id_details' part_id=1 %}".replace(/1/, "{{p_id}}");}, 3000);
    });

  </script>

{% endblock content %}
