{% extends "dies/base.html" %}
{% block content %}
  <div class="container mt-3">
    <h1 class="text-center">{{ in_stock_percentage|floatformat:2 }}% <span style="font-size: .6em;">In-Stock</span></h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">MFG-DIV</th>
          <th scope="col">IN-STOCK</th>
          <th scope="col">TOTAL</th>
        </tr>
      </thead>
      <tbody>
        {% for i in entity_list %}
          <tr>
            <td >{{i.0}}</td>
            <td >{{i.1}}</td>
            <td >{{i.2}}</td>
          </tr>
          {% if forloop.last %}
            <tr class="bg-dark text-light">
              <td class="font-weight-bold">TOTAL</td>
              <td class="font-weight-bold">{{entity_total.0}}</td>
              <td class="font-weight-bold">{{entity_total.1}}</td>
            </tr>
          {% endif %}
        {% endfor %}
        
      </tbody>
    </table>
  </div>

{% endblock content %}
