{% extends "dies/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container mt-5 pt-5">
    <h3 class="mt-5 text-center font-weight-bold border border-success rounded pt-2 pb-2">{{item.part_number}}</h3>
    <h4 class="text-center text-success font-weight-bold">SUCCESFULLY UPDATED</h4>
    <hr>
    <h5 class="text-center font-weight-bold">Super Market: &#8594; {{updated_super_item}}</h5>
    <h5 class="text-center font-weight-bold">Spare Market: {{previous_stock}} &#8594; {{item.stock}}</h5>
  </div>
  <script>
    $(document).ready(function(){
      {% comment %} setTimeout(function(){window.location.href = "{% url 'spare_data_input' %}";}, 3000); {% endcomment %}
      setTimeout(function(){window.location.href="{% url 'part_number_details' part_number=1 %}".replace(/1/, "{{p_id}}");}, 3000);

    });

  </script>

{% endblock content %}
